.jumbotron {
    background: rgb(124,103,255);
    background: linear-gradient(90deg, rgba(124,103,255,1) 0%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
}

.photo-btn {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

/* search button */
.fa-search {
    color: whitesmoke;
}


/* File upload button */
.fileContainer {
    overflow: hidden;
    position: relative;
}

img {
  max-width: 350px;
}


/* Image grid */

#container {
  width:100%;
  text-align:center;
}
#container > div {
  width: calc(100% / 6);  
  display: inline-block;
  vertical-align: top;   
  border:1px solid red;
  text-align:center;
  margin:1px;    
  padding:1px;
}


/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Loader */

  @keyframes ldio-a8xnxhe9yic {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-a8xnxhe9yic div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-a8xnxhe9yic linear 1s infinite;
    background: #fe718d;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }.ldio-a8xnxhe9yic div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #fe718d;
  }.ldio-a8xnxhe9yic div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #fe718d;
  }
  .loadingio-spinner-spinner-3b2t26g3nc {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-a8xnxhe9yic {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-a8xnxhe9yic div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
